// For Global Styles Go To main.scss
// For Responsive Styles go to mobilelayout.scss
    .logo {
        width: 120px;
        margin-left: 3px;
        margin-bottom: 30px;
    }
    h1 {
        margin-top: -20px;
        font-size: 2.5em;
    }
    h2 {
        margin-bottom: 15px;
        color: #222;
    }
    .formimg {
        width: 100%;
    }
    .form {
        max-width: 500px;
        margin: 0 auto;
    }
    .section-home .slide {
        padding: 0 75px;
    }