img {
    margin-bottom: 25px;
}
p {
    font-size: 15px;
}
label {
    font-size: 14px;
}
.fill-brand {
    width: 22px;
    height: 22px;
    fill: #28a745;
    margin-left: 10px;
}
.fill-brand:hover {
    fill: black;
}
.header {
}