<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
    {{- partial "meta.html" . -}}
    {{- partial "schema.html" . -}}
    {{- partial "favicon.html" . -}}
    {{- partial "head.html" . -}}
    <!-- {{- partial "gtm-head.html" . }} -->
    </head>
    <body>
        <!-- {{- partial "preloader.html" . -}} -->
        <!-- {{- partial "gtm-body.html" . -}} -->
        <!-- {{- partial "nav.html" . -}} --> 
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
